@import 'variables'

.udacity-game
  +fb(center, center)
  position: relative
  .wrapper
    width: 65rem
    position: relative
    .title
      position: absolute
      z-index: -1
      right: -3rem
      top: 50%
      height: 0
      width: 0
      white-space: nowrap
      +fb(center, center)
      transform-origin: center
      transform: rotate(90deg)
      font-size: 5vw
      font-weight: bold
      text-transform: uppercase
      color: $dark
    .menu
      +fb(center, space-between)
      padding: 2rem 1rem 0
      .moves
        font-size: 1.5rem
        font-family: $font2
      // refresh button styling
      #refresh
        border: none
        background-color: transparent
        color: $color1
        font-size: 1.5rem
        &:focus
          outline: none
    // card loading animation
    .cards.load
      .game-card
        &:nth-child(4n+1)
          animation: load 0.25s forwards
        &:nth-child(4n+2)
          animation: load 0.5s forwards
        &:nth-child(4n+3)
          animation: load 1s forwards
        &:nth-child(4n+4)
          animation: load 1.5s forwards
    // cards container
    .cards
      +fb(stretch, space-between)
      flex-wrap: wrap
      padding: 1rem
      .game-card.matched
        animation: match 1s forwards !important
      .game-card
        margin-top: 2vh
        height: 25vh
        width: calc(25% - 1vh)
        .inner
          height: 100%
          position: relative
          cursor: pointer
          &:hover
            .front
              i
                color: $color1
          &:focus
            .front
              i
                color: $dark
          .front, .back
            +fb(center, center)
            border-radius: 10px
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
          .front
            background-color: $dark
            i
              font-size: 4rem
              color: $light
              transition: 0.25s
          .back
            background-color: $color1
            opacity: 0
            i
              font-size: 3.5rem
              color: $light
      // card active
      .game-card.active
        .front
          opacity: 0
        .back
          opacity: 1

@keyframes load
  0%
    opacity: 0.25
    transform: scale(0.25)
  100%
    opacity: 1
    transform: scale(1)

@keyframes match
  0%
    opacity: 1
    transform: scale(1)
  25%
    opacity: 1
    transform: scale(1.01)
  100%
    opacity: 0
    transform: scale(0.25)
