@import 'variables'

.udacity-game
  +fb(center, center)
  .body-container
    .congrats.active
      pointer-events: auto
      opacity: 1
    .congrats
      position: absolute
      z-index: 3
      height: 100%
      width: 100%
      top: 0
      left: 0
      +fb(center, center)
      background-color: $light
      color: $color2
      text-align: center
      font-family: $font2
      padding: 5rem 10rem
      border-radius: 10px
      opacity: 0
      pointer-events: none
      transition: 0.25s
      .heading
        font-family: $font1
        text-transform: uppercase
        letter-spacing: 1px
      .message
        font-weight: 300
      #playAgain
        background-color: transparent
        border: 2px solid $color2
        border-radius: 5px
        padding: 0.5rem 1rem
        width: 100%
        color: $color2
        margin-top: 1rem
        font-family: $font1
        text-transform: uppercase
        letter-spacing: 1px
        transition: 0.25s
        &:hover
          background-color: $color2
          color: $light
  .game
    width: 60rem
    position: relative
    .title
      position: absolute
      z-index: -1
      right: -3rem
      top: 50%
      height: 0
      width: 0
      white-space: nowrap
      +fb(center, center)
      transform-origin: center
      transform: rotate(90deg)
      font-size: 5vw
      font-weight: bold
      text-transform: uppercase
      color: $dark
    .menu
      +fb(center, space-between)
      padding: 2rem 0.5rem
      position: relative
      color: $color2
      .moves, .timer, .stars
        font-size: 1.5rem
        font-family: $font2
        label
          margin: 0
      .timer
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
        font-size: 2.5rem
        font-family: $font2
      // refresh button styling
      #refresh
        border: none
        background-color: transparent
        font-size: 1.5rem
        &:focus
          outline: none
    // card loading animation
    .cards.load
      .game-card
        &:nth-child(4n+1)
          animation: load 0.25s forwards
        &:nth-child(4n+2)
          animation: load 0.5s forwards
        &:nth-child(4n+3)
          animation: load 1s forwards
        &:nth-child(4n+4)
          animation: load 1.5s forwards
    // cards container
    .cards
      +fb(stretch, space-between)
      flex-wrap: wrap
      .game-card.matched
        animation: match 0.25s linear forwards !important
      .game-card
        height: 12rem
        width: 25%
        padding: 0.5rem
        .inner
          height: 100%
          position: relative
          cursor: pointer
          &:hover
            .front
              i
                color: $color2
          &:focus
            .front
              i
                color: $dark
          .front, .back
            +fb(center, center)
            border-radius: 10px
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
          .front
            background-color: $dark
            i
              font-size: 4rem
              color: $light
              transition: 0.25s
          .back
            background-color: $color1
            opacity: 0
            transform-origin: center
            i
              font-size: 3.5rem
              color: $light
      // card active
      .game-card.active, .game-card.matched
        .front
          opacity: 0
        .back
          opacity: 1

@keyframes load
  0%
    opacity: 0.25
    transform: scale(0.25)
  100%
    opacity: 1
    transform: scale(1)

@keyframes match
  0%
    transform: rotate(0)
  25%
    transform: rotate(15deg)
  50%
    transform: rotate(0)
  75%
    transform: rotate(-15deg)
  100%
    transform: rotate(0)
